h1{
    color: bisque;
}
.header{
    background-color: thistle;
    display:flex;
   justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
p,h2{
    text-align: center ;
}
body{
    background-image: url("th\ \(4\).jpg");
}
.menu{
    margin-right: 100px;
}

.menu a{
margin-left: 20px;
}

a:link{
color: dimgray;
}

a:visited{
    color: dimgray;
    }

.item{
    position: relative;
}

.item h1{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
opacity: 0;
}

.item:hover img{
    opacity: 0.33;
}
.item:hover h1{
    opacity: 1;
}